#format: sh
#
#  Configuration for 
#
###########################################################################

###########################################################################
#
#  GENERAL SETTINGS
#
###########################################################################

#  Installation directory for the DBSNP Data Provider load
INSTALLDIR=/home/sc/snp/dbsnpload

export INSTALLDIR 

###########################################################################
#
#  DATABASE SETTINGS BY DATABASE
#
###########################################################################

# MGD Connection parameters 
#MGD_DBSERVER=PROD_MGI
MGD_DBSERVER=DEV1_MGI

#MGD_DBURL=shire.informatics.jax.org:4100
MGD_DBURL=rohan.informatics.jax.org:4101

#MGD_DBNAME=mgd
MGD_DBNAME=mgd_sc

MGD_DBUSER=mgd_dbo
MGD_DBPASSWORDFILE=${MGIDBUTILSDIR}/.mgd_dbo_password

MGD_DBSCHEMADIR=${MGDDBSCHEMADIR}

export MGD_DBSERVER MGD_DBURL MGD_DBNAME
export MGD_DBUSER MGD_DBPASSWORDFILE MGD_DBSCHEMADIR

# RADAR Connection parameters 
#RADAR_DBSERVER=PROD_MGI
RADAR_DBSERVER=DEV1_MGI

#RADAR_DBURL=shire.informatics.jax.org:4100
RADAR_DBURL=rohan.informatics.jax.org:4101

#RADAR_DBNAME=radar
RADAR_DBNAME=radar_release

RADAR_DBUSER=mgd_dbo
RADAR_DBPASSWORDFILE=${MGIDBUTILSDIR}/.mgd_dbo_password

RADAR_DBSCHEMADIR=${RADARDBSCHEMADIR}

export RADAR_DBSERVER RADAR_DBURL RADAR_DBNAME RADAR_DBUSER 
export RADAR_DBPASSWORDFILE RADAR_DBSCHEMADIR 

###########################################################################
#
#  SOFTWARE SETTINGS
#
###########################################################################

# allow 1.5 initial and max heap memory - note this is the max for which
# the loader will run since child processes (e.g. isql exec of sql files)
# need memory from the parent process (2G max given to a process by the op sys)
JAVA=/usr/j2se/bin/java
#JAVARUNTIMEOPTS="-Xms2G -Xmx2G"
JAVARUNTIMEOPTS="-Xms1500m -Xmx1500m"

JAVA_LIB=${JAVAPATH}/lib_java_dla/classes:${JAVAPATH}/lib_java_core/classes:${JAVAPATH}/lib_java_dbsmgd/classes:/home/sc/snp/lib_java_dbsrdr-snp/classes

XERCES_DIR=/home/sc/snp/apache/xerces-2_6_2

CLASSPATH=.:${XERCES_DIR}/resolver.jar:${XERCES_DIR}/xercesImpl.jar:${XERCES_DIR}/xercesSamples.jar:${XERCES_DIR}/xml-apis.jar:${XERCES_DIR}/xmlParserAPIs.jar:${INSTALLDIR}/classes:${JAVA_LIB}:${COMMON_CLASSPATH}

export JAVARUNTIMEOPTS JAVA_LIB CLASSPATH

###########################################################################
#
#  LOAD SPECIFIC SETTINGS
#
###########################################################################
###
#DBSNP dataprovider load params
###

# input file directory
GENO_SNP_INFILEDIR=/net/mtdoom/vol/rohan/data/downloads/ftp.ncbi.nih.gov/snp/mouse/genotype
NSE_SNP_INFILEDIR=/net/mtdoom/vol/rohan/data/downloads/ftp.ncbi.nih.gov/snp/mouse/XML
# input file prefixes
GENO_SNP_INFILEPREFIX=gt_chr
NSE_SNP_INFILEPREFIX=ds_ch

# input file suffixes
GENO_SNP_INFILESUFFIX=.test.xml
NSE_SNP_INFILESUFFIX=.test.xml

#  Java applications
GENO_SNP_PARSER=dbsnparser.DBSNPGenotypeParser
NSE_SNP_PARSER=dbsnparser.DBSNPNseParser
DLA_LOADER=dbsnparser.DBSNPLoader
DLA_START=org.jax.mgi.shr.dla.loader.DLAStart

# SQL STREAM
# this overrides the default BCP_Inline_Stream
DLA_DB_PREFIX=MGD
DLA_LOAD_STREAM=org.jax.mgi.shr.dbutils.dao.BCP_Script_Stream
DLA_QC_STREAM=org.jax.mgi.shr.dbutils.dao.BCP_Stream

# seqloader QC report script
APP_SEQ_QCRPT=${APP_QCRPTDIR}/seqload/runQC.csh

# molecular source processor QC report script
APP_MSP_QCRPT=${APP_QCRPTDIR}/msp/runQC.csh

export DLA_LOADER DLA_START DLA_LOAD_STREAM 
export APP_SEQ_QCRPT APP_MS_QCRPT

# Full path the the logs, reports, and archive directories
FILEDIR=/net/mtdoom/vol/rohan/data/loads/dbsnp/dpsnpload
LOGDIR=${FILEDIR}/logs
RPTDIR=${FILEDIR}/reports
ARCHIVEDIR=${FILEDIR}/archive
OUTPUTDIR=${FILEDIR}/output

export FILEDIR LOGDIR RPTDIR ARCHIVEDIR OUTPUTDIR

#  Frameworks expects the value 'STDIN' if jobstream script pipes input to
#  the application.
INFILE_NAME=STDIN

# full path to input file directory when APP_RADAR_INPUT=false
INPUTDIR=/net/hobbiton/data/downloads/ftp.ncbi.nih.gov/genbank/gb_daily-nc
#INPUTDIR2=/net/hobbiton/data/downloads/ftp.ncbi.nih.gov/genbank/gb_daily-old.asn1

# full path to input files when APP_RADAR_INPUT=false
APP_INFILES="${INPUTDIR}/nc0228.flat.gz" 
#APP_INFILES=${INSTALLDIR}/test/data/nctest.flat.gz

# how files are piped to the application
#APP_CAT_METHOD="/usr/local/bin/gunzip -c"
APP_CAT_METHOD=/usr/bin/cat

export INFILE_NAME INPUTDIR APP_INFILES APP_CAT_METHOD 

# this load's MGI_User login value for DB tables CreatedBy and ModifiedBy column
JOBSTREAM=genbank_load

export JOBSTREAM

#  Complete path name of the log files
LOG_PROC=${LOGDIR}/dpdbsnpload.proc.log
LOG_DIAG=${LOGDIR}/dpdbsnpload.diag.log
LOG_CUR=${LOGDIR}/dpdbsnpload.cur.log
LOG_VAL=${LOGDIR}/dpdbsnpload.val.log

# Send debug messages to the diagnostic log
LOG_DEBUG=true
DBDEBUG=true
CACHE_DEBUG=false

# logger factory class - allows classes to get their own loggers
LOG_FACTORY=org.jax.mgi.shr.dla.log.DLALoggerFactory

export LOG_PROC LOG_DIAG LOG_CUR LOG_VAL LOG_DEBUG 
export CACHE_DEBUG LOG_FACTORY

###########################################################################
#
#  BCP MANAGER SETTINGS BY DATABASE
#
###########################################################################

#  Settings used to create a BCP manager for the MGD database
MGD_BCP_PATH=${OUTPUTDIR}
MGD_BCP_PREVENT_EXECUTE=true
MGD_BCP_TRUNCATE_LOG=true
MGD_BCP_DROP_INDEXES=false
MGD_BCP_RECORD_STAMPING=false
MGD_BCP_AUTO_FLUSH=false
MGD_BCP_OK_TO_OVERWRITE=false

export MGD_BCP_PATH MGD_BCP_PREVENT_EXECUTE MGD_BCP_TRUNCATE_LOG
export MGD_BCP_DROP_INDEXES MGD_BCP_RECORD_STAMPING MGD_BCP_AUTO_FLUSH
export MGD_BCP_OK_TO_OVERWRITE

#  Settings used to create a BCP manager for the RADAR database
RADAR_BCP_PATH=${OUTPUTDIR}
RADAR_BCP_PREVENT_EXECUTE=true
RADAR_BCP_TRUNCATE_LOG=true
RADAR_BCP_DROP_INDEXES=true
RADAR_BCP_RECORD_STAMPING=false
RADAR_BCP_AUTO_FLUSH=true
RADAR_BCP_OK_TO_OVERWRITE=true

export RADAR_BCP_PATH RADAR_BCP_PREVENT_EXECUTE RADAR_BCP_TRUNCATE_LOG
export RADAR_BCP_DROP_INDEXES RADAR_BCP_RECORD_STAMPING RADAR_BCP_AUTO_FLUSH
export RADAR_BCP_OK_TO_OVERWRITE

###########################################################################
#
#  SQL SCRIPTWRITER SETTINGS FOR merges and splits
#
###########################################################################

# setting used to create a ScriptWriter for the merges and split
MGD_SCP_PATH=${MGD_BCP_PATH}
MGD_SCP_PREVENT_EXECUTE=true
# set to true until script file name bug is fixed
MGD_SCP_OK_TO_OVERWRITE=false

MGD_SCP_FILENAME=mergeSplits

#MGD_SCP_SUFFIX=
MGD_SCP_OUTFILENAME=mergeSplits
#MGD_SCP_OUTSUFFIX=

export MGD_SCP_PATH MGD_SCP_PREVENT_EXECUTE MGD_SCP_OK_TO_OVERWRITE
export MGD_SCP_FILENAME MGD_SCP_SUFFIX MGD_SCP_OUTFILENAME MGD_SCP_OUTSUFFIX

###########################################################################
#
#  SQL SCRIPTWRITER SETTINGS FOR updates
#
###########################################################################

# setting used to create a ScriptWriter to do MGD database updates
SCP_PATH=${MGD_BCP_PATH}
SCP_PREVENT_EXECUTE=true
# set to true until script file name bug is fixed
SCP_OK_TO_OVERWRITE=false

SCP_FILENAME=updates

#SCP_SUFFIX=
SCP_OUTFILENAME=updates
#SCP_OUTSUFFIX=

export SCP_PATH SCP_PREVENT_EXECUTE SCP_OK_TO_OVERWRITE
export SCP_FILENAME SCP_SUFFIX SCP_OUTFILENAME SCP_OUTSUFFIX

###########################################################################
#
#  MISCELLANEOUS SETTINGS
#
###########################################################################
#  The name of the load for the subject of an email notification
MAIL_LOADNAME="DBSNP Data Provider Load"

#  Recipient list for mailing the log files (comma-separated)
MAIL_LOG_PROC=""
MAIL_LOG_CUR=""

export MAIL_LOADNAME MAIL_LOG_PROC MAIL_LOG_CUR

##################################################################
# repeat file processing used when in incremental mode
##################################################################

# process repeat file if true
APP_PROCESS_REPEATS=true

# full path to repeat file
SEQ_REPEAT_FILE=${OUTPUTDIR}/repeats.out

# rename repeat file to this name for processing
APP_REPEAT_TO_PROCESS=${SEQ_REPEAT_FILE}.to.process

export APP_PROCESS_REPEATS SEQ_REPEAT_FILE APP_REPEAT_TO_PROCESS

