#!/bin/sh

#
# Configuration for fxn class vocload
#

RUNTIME_DIR="${OUTPUTDIR}/vocload/fxnClass"
ARCHIVE_DIR="${VOCLOAD}/vocloadarchive"
export RUNTIME_DIR
export ARCHIVE_DIR

MAINTAINER="sc@informatics.jax.org"
export MAINTAINER

# vocabulary attributes:

VOCAB_NAME="SNP Function Class"
VOCAB_COMMENT_KEY=0
JNUM="J:23000"
IS_SIMPLE=1
IS_PRIVATE=1
LOGICALDB_KEY=-1
CREATED_BY=${CREATEDBY}

export VOCAB_NAME
export VOCAB_COMMENT_KEY
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY
export CREATED_BY

DATA_FILE="${SNP_DATA_DIR}/fxnClass.vocab.in"
TERM_FILE="${OUTPUTDIR}/fxnClass.vocab.out"
DAG_ROOT_ID=""

export DATA_FILE
export TERM_FILE
export DAG_ROOT_ID

