#format: sh
#
# Configuration for dbsnp function class translation load
#
###########################################################################

TRANSTYPENAME="SNP Function Class"
TRANSMGITYPE="Vocabulary Term"
VOCABNAME="SNP Function Class"
TRANSCOMPRESSION=""

export TRANSTYPENAME TRANSMGITYPE VOCABNAME TRANSCOMPRESSION 

CREATEDBY="dbsnp_load"
DBUTILITIESPATH=/usr/local/mgi/live/dbutils/mgidbutilities
export CREATEDBY DBUTILITIESPATH
