#!/bin/sh

#
# Program: subHandle.config
#

RUNTIME_DIR="${OUTPUTDIR}/vocload/subHandle"
ARCHIVE_DIR="${VOCLOAD}/vocloadarchive"
export RUNTIME_DIR
export ARCHIVE_DIR

MAINTAINER="sc@informatics.jax.org"
export MAINTAINER

# vocabulary attributes:

VOCAB_NAME=${HANDLE_VOCAB_NAME}
VOCAB_COMMENT_KEY=0
JNUM="J:23000"
IS_SIMPLE=1
IS_PRIVATE=0
LOGICALDB_KEY=77
CREATED_BY=${CREATEDBY}

export VOCAB_NAME
export VOCAB_COMMENT_KEY
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY
export CREATED_BY

DATA_FILE=${HANDLE_VOCAB_FILE}
TERM_FILE="${HANDLE_VOCAB_FILE}.out"
DAG_ROOT_ID=""

export DATA_FILE
export TERM_FILE
export DAG_ROOT_ID

