#format: sh
#
# Configuration for dbsnp variation class translation load
#
###########################################################################

TRANSTYPENAME="SNP Variation Class"
TRANSMGITYPE="Vocabulary Term"
VOCABNAME="SNP Variation Class"
TRANSCOMPRESSION=""

export TRANSTYPENAME TRANSMGITYPE VOCABNAME TRANSCOMPRESSION

CREATEDBY="dbsnp_load"
DBUTILITIESPATH=/usr/local/mgi/live/dbutils/mgidbutilities
export CREATEDBY DBUTILITIESPATH
