#!/bin/csh -f

#
# default configuration file
#

source ${TRANSLATIONLOAD}/Configuration

setenv TRANSMODE        fullest
setenv TRANSINPUTFILE   ${DBSNPLOAD}/data/varClass.goodbad
setenv TRANSLOG  	${LOGDIR}/varClassTrans.log
# TRANSOUTPUTDIR in environment

setenv TRANSTYPENAME    "SNP Variation Class"
setenv TRANSMGITYPE     "Vocabulary Term"
setenv VOCABNAME        "SNP Variation Class"
setenv TRANSCOMPRESSION ""
setenv CREATEDBY        "dbsnp_load"
